/* Scoped styles for light widget switch only */
.light-widget-scope {
	--hue: 223;
	--fg: hsl(var(--hue),10%,10%);
	--trans-dur: 0.3s;
	--trans-timing: cubic-bezier(0.83, 0, 0.17, 1);
}

.light-widget-scope .switch-container {
	font-size: calc(9px + (18 - 9) * (100vw - 320px) / (2560 - 320));
}

.light-widget-scope label {
	display: flex;
	align-items: center;
	margin: auto;
	-webkit-tap-highlight-color: transparent;
}

.light-widget-scope .sr {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
}

/* Light theme */
.light-widget-scope .switch,
.light-widget-scope .switch__input {
	display: block;
}

.light-widget-scope .switch {
	border-radius: 1.5em;
	box-shadow: 0 0.125em 0.25em hsla(0,0%,0%,0.4);
	position: relative;
	width: 4.5em;
	height: 3em;
	perspective: 10em;
}

.light-widget-scope .switch span {
	display: block;
}

.light-widget-scope .switch > span {
	border-radius: inherit;
	z-index: 1;
}

.light-widget-scope .switch__surface-glare,
.light-widget-scope .switch__inner,
.light-widget-scope .switch__inner-glare,
.light-widget-scope .switch__rocker-sides,
.light-widget-scope .switch__rocker-sides-glare,
.light-widget-scope .switch__rocker,
.light-widget-scope .switch__rocker-glare,
.light-widget-scope .switch__light {
	transition: transform var(--trans-dur) var(--trans-timing);
}

.light-widget-scope .switch__surface {
	background-color: hsl(var(--hue),10%,83%);
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.light-widget-scope .switch > .switch__surface {
	z-index: 0;
}

.light-widget-scope .switch__surface-glare {
	background-image: radial-gradient(50% 50% at center,hsla(var(--hue),10%,90%,1),hsla(var(--hue),10%,90%,0));
	width: 3em;
	height: 3em;
	transform: translate(0,0.125em);
}

.light-widget-scope .switch__input {
	background-color: hsl(var(--hue),10%,80%);
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.125em hsla(var(--hue),90%,50%,0);
	outline: transparent;
	position: absolute;
	top: 0.0625em;
	left: 0.0625em;
	width: calc(100% - 0.125em);
	height: calc(100% - 0.125em);
	transition: box-shadow 0.15s linear;
	z-index: 1;
	-webkit-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
}

.light-widget-scope .switch__input:focus-visible {
	box-shadow: 0 0 0 0.125em hsla(var(--hue),90%,50%,1);
}

.light-widget-scope .switch__inner {
	background-color: hsl(var(--hue),10%,83%);
	overflow: hidden;
	position: absolute;
	inset: 0.5em;
	transform: translate(0.125em,0);
}

.light-widget-scope .switch__inner-glare {
	background-image: radial-gradient(50% 50% at center,hsla(var(--hue),10%,90%,1),hsla(var(--hue),10%,90%,0));
	position: absolute;
	width: 2em;
	height: 2em;
	transform: translate(100%,-0.5em);
}

.light-widget-scope .switch__inner-shadow {
	box-shadow: 0 0.125em 0.25em hsla(0,0%,0%,0.4);
	position: absolute;
	inset: 0.5em;
}

.light-widget-scope .switch__rocker-shadow {
	box-shadow: 0 0.125em 0.25em hsla(0,0%,0%,0.15);
	position: absolute;
	top: 0.5625em;
	right: 0.5625em;
	bottom: 0.5625em;
	left: 0.75em;
}

.light-widget-scope .switch__rocker-sides {
	background-color: hsl(var(--hue),10%,80%);
	overflow: hidden;
	position: absolute;
	inset: 0.5em;
	transform: rotateY(-20deg) translateZ(0.5em);
	transform-style: preserve-3d;
}

.light-widget-scope .switch__rocker-sides-glare {
	background-image: linear-gradient(90deg,hsla(var(--hue),10%,85%,0),hsla(var(--hue),10%,85%,1),hsla(var(--hue),10%,85%,0));
	position: absolute;
	width: 200%;
	height: 100%;
}

.light-widget-scope .switch__rocker {
	background-color: hsl(var(--hue),10%,80%);
	overflow: hidden;
	position: absolute;
	inset: 0.5625em;
	transform: rotateY(-20deg) translateZ(0.5em);
	transform-style: preserve-3d;
}

.light-widget-scope .switch__rocker-glare {
	background-image: linear-gradient(120deg,hsla(var(--hue),10%,85%,0) 25%,hsla(var(--hue),10%,85%,1) 50%,hsla(var(--hue),10%,85%,0) 75%);
	position: absolute;
	width: 100%;
	height: 100%;
	transform: translateX(-33%);
}

.light-widget-scope .switch__light {
	background-image: linear-gradient(-45deg,hsl(var(--hue),10%,60%) 30%,hsl(var(--hue),10%,80%));
	box-shadow: 0 0 max(1px,0.05em) hsla(var(--hue),10%,10%,0.3) inset;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0.5em;
	height: 0.5em;
	transform: translate(-50%,-50%) rotateY(-20deg) translateX(1.125em) translateZ(0.51em);
}

.light-widget-scope .switch__light-inner {
	background-color: hsl(133,90%,50%);
	box-shadow:
		0 0 max(1px,0.05em) hsla(var(--hue),10%,10%,0.3) inset,
		0 0 0.25em hsl(133,90%,50%);
	border-radius: 50%;
	opacity: 0;
	width: 100%;
	height: 100%;
	transition: opacity var(--trans-dur) var(--trans-timing);
}

/* Dark theme */
.light-widget-scope .switch-container--dark .switch__surface {
	background-color: hsl(var(--hue),10%,22%);
}

.light-widget-scope .switch-container--dark .switch__surface-glare {
	background-image: radial-gradient(50% 50% at center,hsla(var(--hue),10%,45%,1),hsla(var(--hue),10%,45%,0));
}

.light-widget-scope .switch-container--dark .switch__input {
	background-color: hsl(var(--hue),10%,20%);
}

.light-widget-scope .switch-container--dark .switch__inner {
	background-color: hsl(var(--hue),10%,22%);
}

.light-widget-scope .switch-container--dark .switch__inner-glare {
	background-image: radial-gradient(50% 50% at center,hsla(var(--hue),10%,45%,1),hsla(var(--hue),10%,45%,0));
}

.light-widget-scope .switch-container--dark .switch__rocker-shadow {
	box-shadow: 0 0.125em 0.25em hsla(0,0%,0%,0.5);
}

.light-widget-scope .switch-container--dark .switch__rocker-sides {
	background-color: hsl(var(--hue),10%,20%);
}

.light-widget-scope .switch-container--dark .switch__rocker-sides-glare {
	background-image: linear-gradient(90deg,hsla(var(--hue),10%,35%,0),hsla(var(--hue),10%,35%,1),hsla(var(--hue),10%,35%,0));
}

.light-widget-scope .switch-container--dark .switch__rocker {
	background-color: hsl(var(--hue),10%,20%);
}

.light-widget-scope .switch-container--dark .switch__rocker-glare {
	background-image: linear-gradient(120deg,hsla(var(--hue),10%,25%,0) 25%,hsla(var(--hue),10%,25%,1) 50%,hsla(var(--hue),10%,25%,0) 75%);
}

.light-widget-scope .switch-container--dark .switch__light {
	background-image: linear-gradient(-45deg,hsl(var(--hue),10%,30%) 30%,hsl(var(--hue),10%,50%));
}

/* Add vertical orientation styles */
.light-widget-scope .switch--vertical {
	transform: rotate(90deg);
}

/* "On" state */
.light-widget-scope .switch__input:checked ~ .switch__surface .switch__surface-glare {
	transform: translate(3em,0.125em);
}

.light-widget-scope .switch__input:checked ~ .switch__inner {
	transform: translate(-0.125em,0);
}

.light-widget-scope .switch__input:checked ~ .switch__inner .switch__inner-glare {
	transform: translate(0,-0.5em);
}

.light-widget-scope .switch__input:checked ~ .switch__rocker {
	transform: rotateY(20deg) translateZ(0.5em);
}

.light-widget-scope .switch__input:checked ~ .switch__rocker .switch__rocker-glare {
	transform: translateX(33%);
}

.light-widget-scope .switch__input:checked ~ .switch__rocker-sides {
	transform: rotateY(20deg) translateZ(0.5em);
}

.light-widget-scope .switch__input:checked ~ .switch__rocker-sides .switch__rocker-sides-glare {
	transform: translateX(-50%);
}

.light-widget-scope .switch__input:checked ~ .switch__light {
	transform: translate(-50%,-50%) rotateY(20deg) translateX(1.125em) translateZ(0.51em);
}

.light-widget-scope .switch__input:checked ~ .switch__light .switch__light-inner {
	opacity: 1;
}
